/*
body {
 box-sizing: border-box;   
}
*/

.topic{
    margin: 20px 20px;
    background-color: #004483;
}

.top{
    background: radial-gradient(#004483,black);
    color:white;
    text-shadow: 1px 1px black;
    width:100%;
    margin-right: 0px;
}

.head {
    color: white;
    background-color: cadetblue;
    padding: 5px 5px;
    margin: 20px;
/*
    padding: 20px;
    margin-left: 0px;
*/
}

/*
.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
*/

.nav-item:hover {
    color: black;
    transform: scale(1.2);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin: 10px;
    width:100%;
    padding: 20px;
    /* 5px rounded corners */
}

.curved {
    border-radius: 5px;
    background-color: #004483;
}
